<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--class name="UserManagement.usersTotalCountVarification"/>
      <class name="ProjectList.EditSingleProject"/>
      <class name="ProjectList.DeleteProject"/>
      <class name="Runs.MakeRunCopy"/>
      <class name="Runs.SingleRunCreation"/>
      <class name="Runs.DiameterConfiguration"/>
      <class name="UserManagement.userSearch"/>
      <class name="Runs.ModelList"/>
      <class name="Dashboard.DashboardFeatures"/>
      <class name="UserManagement.userActiveAndInactive"/>
      <class name="UserManagement.userAddAndDelete"/>
      <class name="Runs.ManufactureList"/>
      <class name="ProjectList.AddSingleProject"/-->
      <class name="Dashboard.ChangePassword"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
